header {
  display: flex;
  background-image:
    url("public/images/clean-textile.png");
  background-color: rgb(195, 243, 243);
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

span {
  font-weight: 600;
}

h2 {
  font-family: "Source Sans Pro" sans-serif;
  font-weight: 300;
}