.profile-header {
  display: flex;
  background-image:
    url("/images/clean-textile.png");
  background-color: #FFE3E3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  z-index: 0;
}

span {
  display: inline;
  font-weight: 600;
}

h2 {
  font-family: "Source Sans Pro" sans-serif;
  font-weight: 300;
  color: slategray;
}

div {
  display: flex;
  justify-content: center;
}

.centered-text {
  text-align: center;
}