h1 {
  color: white;
  font-size: 1.5em;
}

.write {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: white;
  font-size: .8em;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: #93B5C6;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  z-index: 1;
}

.title-header {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.right-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.nav-icon {
  color: #FFE3E3;
  font-size: .7em;
  animation: bounce 1.5s ease infinite forwards;
}
@keyframes bounce {
  0% {
    transform: translateY(-0.2rem);
  }
  50% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(-0.2rem);
  }
}

strong {
  font-weight: 600;
}

figure {
  border: 2px solid red;
  margin: .7em;
  text-align: center;
  font-size: 1.1em;
}