h1 {
  color: #FFFFFF;
  font-size: 2rem;
}

.write {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 1.1rem;
}

nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.right-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

i {
  color: crimson;
  font-size: medium;
}

strong {
  font-weight: 600;
}