.new-tweet {
  display: flex;
  width: 90%;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

textarea {
  border: none;
  border-bottom: 5px solid #C9CCD5;
  background-color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin: 8px auto;
  width: 100%;
}

#submit-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px auto;
}

.counter {
  font-family: "Bungee", sans-serif;
}

button {
  font-family: "Bungee", sans-serif;
  color: white;
  background-color: #93B5C6;
}

.invalid {
  color: red;
}